* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container::after,
[class^="col-"]:not(:empty)::after {
  content: '';
  display: table;
  clear: both;
}

/* i background per generazione */

.container > [class^="col-"] {
  background-color: rgb(255 192 203);
}
.container > [class^="col-"] > [class^="col-"] {
  background-color: rgb(240 127 128);
}

[class^="col-"]:not(:empty) {
  padding: 5px;
}

/* contenuti */

[class^="col-"]:empty {
  position: relative;
  height: 200px;
}
[class^="col-"]:empty::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

/* nb: scriverò anche cose che non verranno utilizzate per generalizzare il più possibile */

.col-1:empty::after {
  content: '1 col';
}
.col-2:empty::after {
  content: '2 col';
}
.col-3:empty::after {
  content: '3 col';
}
.col-4:empty::after {
  content: '4 col';
}
.col-5:empty::after {
  content: '5 col';
}
.col-6:empty::after {
  content: '6 col';
}
.col-7:empty::after {
  content: '7 col';
}
.col-8:empty::after {
  content: '8 col';
}
.col-9:empty::after {
  content: '9 col';
}
.col-10:empty::after {
  content: '10 col';
}
.col-11:empty::after {
  content: '11 col';
}
.col-12:empty::after {
  content: '12 col';
}

/* avrei preferito iniettare la sola parola "nested" con un before, ma in quel caso non avrei potuto trattare il content come un unico elemento e ciò avrebbe causato problemi nella centratura. in alternativa avrei potuto creare dei contenitori ulteriori nell'html per il testo ma questo mi sembrava il giusto compromesso */

.container > [class^="col-"] > .col-1::after {
  content: 'Nested 1 col';
}
.container > [class^="col-"] > .col-2::after {
  content: 'Nested 2 col';
}
.container > [class^="col-"] > .col-3::after {
  content: 'Nested 3 col';
}
.container > [class^="col-"] > .col-4::after {
  content: 'Nested 4 col';
}
.container > [class^="col-"] > .col-5::after {
  content: 'Nested 5 col';
}
.container > [class^="col-"] > .col-6::after {
  content: 'Nested 6 col';
}
.container > [class^="col-"] > .col-7::after {
  content: 'Nested 7 col';
}
.container > [class^="col-"] > .col-8::after {
  content: 'Nested 8 col';
}
.container > [class^="col-"] > .col-9::after {
  content: 'Nested 9 col';
}
.container > [class^="col-"] > .col-10::after {
  content: 'Nested 10 col';
}
.container > [class^="col-"] > .col-11::after {
  content: 'Nested 11 col';
}
.container > [class^="col-"] > .col-12::after {
  content: 'Nested 12 col';
}
